@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.container {
  width: 100%;
  font-family: "Lato", sans-serif;
  /* margin: 0 auto; */
}
.header {
  letter-spacing: 0.1em;
  margin-bottom: 35px;
  font-size: 21px;
  position: relative;
}

.place {
  position: absolute;
  top: 13px;
  left: 20px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.place:visited {
  color: white;
}

.header__title {
  padding: 15px;
  background-color: #278b98;
  color: white;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-align: center;
}

.info-container {
  /* border: 5px solid orange; */
  display: grid;
  grid-template: repeat(5, 30px) / 200px 30px 200px 200px;
  row-gap: 10px;
  grid-auto-flow: column;
  justify-content: left;
  justify-items: left;
  letter-spacing: 0.1em;
  margin-bottom: 70px;
  margin-left: 50px;
}

.name {
  grid-column: 3;
}

.info {
  grid-column: 4;
}

.block-image {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column: 1;
  /* border: 5px solid red; */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.block-image img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.buttons {
  margin-left: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
}

.btn {
  letter-spacing: 0.1em;
  width: 300px;
  height: 40px;
  padding: 10px;
  background-color: #278b98;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
}

label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upl {
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
  width: 160px;
}

.upl-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.color-btn {
  background-color: rgba(201, 0, 62, 1);
}

input[type="file"] {
  display: none;
}

.error {
  width: 250px;
  padding: 10px;
  background-color: #c92424;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  letter-spacing: 0.1em;
  margin: 0 auto;
  text-align: center;
}
